{% extends "codespeed/base_site.html" %}
{% block title %}{{ block.super }}: About this site{% endblock %}
{% block body %}
<div id="sidebar">
</div>
<div id="about" class="about_content clearfix">
<h3>About this site</h3>
<p>This site tracks the historic development of <a href="http://www.haskell.org/ghc/">GHC performance numbers</a>.</p>
<p>This site runs on top of Django and Codespeed</p>
<h3>About the benchmarks</h3>
<p>Most numbers come from the infamous <a href="https://ghc.haskell.org/trac/ghc/wiki/Building/RunningNoFib">nofib benchmark suite</a>.</p>
<h3>About Codespeed</h3>
Codespeed is a web application to monitor and analyze the performance of your code.
<p>Code: <a href="http://github.com/tobami/codespeed">github.com/tobami/codespeed</a></p>
<p>Wiki: <a href="http://wiki.github.com/tobami/codespeed/">wiki.github.com/tobami/codespeed/</a></p>
<h3>Contact</h3>
<p>For problems or suggestions about this website write to <a href="mailto:mail@joachim-breitner.de">Joachim Breitner</a>.</p>
</div>
{% endblock %}
